/**********************************************************************************************************************
* This file is provided as an example of how to modify the styling of the terminal. For a full CSS                    *
* Reference visit https://github.com/sourcelair/xterm.js/blob/2b92996d7c0c8a6f161c90cb96528858979a50fd/src/xterm.css. *
* Styling that is not set here will be controlled by the extension.                                                   *
*                                                                                                                     *
* Supported CSS Modifications:                                                                                        *
* - all color changes                                                                                                 *
* - font size                                                                                                         *
* - font family                                                                                                       *
*                                                                                                                     *
* ANY OTHER CSS MODIFICATION ARE NOT SUPPORTED AND DONE AT YOUR OWN RISK                                              *
***********************************************************************************************************************/


/* This class controls the default text color of the terminal */
.terminal {
	color: default;
    font-family: Consolas;
    font-size: 12pt;
}

	/* Can be used to control the background color of the terminal */
	.terminal .xterm-viewport {
		background-color: default;
	}

	/* This class can be used to modify the color of text selection in the terminal */
	.terminal .xterm-selection div {
		background-color: default;
	}

	/* Modifies the cursor. Note: the background color is the color of the cursor when it is "on" */
	.terminal.focus:not(.xterm-cursor-style-underline):not(.xterm-cursor-style-bar) .terminal-cursor {
		background-color: default;
		color: default;
	}

	/* Modifies the cursor when the terminal is not focused */
	.terminal:not(.focus) .terminal-cursor {
		outline-color: default;
	}

	/* This class is applied to text elements with the "15" color, xterm supports 256 different color values */
	.terminal .xterm-color-15 {
		color: default;
	}
